.title {
  color: #02ccba;
}
.tim-kami {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.timf33 {
  float: left;
  width: 33%;
}
.timf33-icon {
  position: relative;
  margin-bottom:10px;

}
.timf33-icon p {
  font-weight: bold;
  margin-top:10px:
  position: absolute;
  top: 90%;
  width: 100%;
  color: black;
}
.timf33-icon img {
  width:40%;
}
.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
